<p>Hi {pic_name},</p>
<p>Good day.</p>
<p>This is an urgent, final follow-up regarding the open vulnerabilities identified in the <b>{application_name}</b> during the VAPT conducted in <b>{vapt_month_year}</b>. These findings remain unresolved more than <b>two weeks</b> past the defined SLA and have been escalated to the CTO.</p>
<p>Please find the attached Excel file with the list of open vulnerability findings mapped to your respective application/system.</p>
<p><b>Open Vulnerability Findings Summary:</b></p>
{severity_table}
<p>As per the defined SLA timelines, the below findings were expected to be remediated; however, they are currently pending closure. In case there is a need to extend the remediation timelines, request you to please provide client's risk acceptance approval for the same.</p>
<p>Regards,<br>YMSLI Cybersecurity Team</p>
